huggingface_hub
pandas
polars
numpy
torch
tqdm
transformers
rouge_score
sentence-transformers
faiss-cpu
bertopic
umap-learn
hdbscan
scikit-learn
rapidfuzz
lightgbm
matplotlib
nltk
spacy
joblib
jupyter
ipykernel
